<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css">
body {
  color: blanchedalmond;
  background-color: red;
}
</style>
</head>
<body>
	<h1> Check Out My Pokedex! </h1>



</body>


</html>