<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1> Check Out My Pokedex! </h1>
	<% for(let i =0 ; i < pokemon.length; i++){ %>
		<ul>
			<li><a href="/pokemon/<%=i%>"><%= pokemon[i].name %></a></li>
		</ul>
	<% } %>

</body>


</html>