<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1> Gotta Catch 'Em All </h1>
	<h2> <%=onePokemon.name%> </h2>
	<img src=<%=onePokemon.img%>>
	

</body>


</html>