<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	<title></title>
<style type="text/css">
body {
  color: blanchedalmond;
  background-color: red;
  font-family: 'Signika', sans-serif;
}
</style>
</head>
<body>
	<h1> Gotta Catch 'Em All </h1>
	<h2> <%=onePokemon.name%> </h2>
	<img src=<%=onePokemon.img%>>
	

</body>


</html>